.ticketsStyle {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticketsStyle .topSection {
    margin-top: 2em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .8em;
    margin-bottom: 2em;
}

.newTicket {
    background-color: var(--blue);
    color: white;
    height: 2em;
    width: 50vw;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.newTicket:hover {
    background-color: var(--darkblue);
}

.ticketsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    margin-top: 1em;
    margin-bottom: 3em;
}

/* Laptop Query */
@media screen and (min-width:1200px) {
    .newTicket {
        height: 8vh;
        width: 20vw;
        font-size: 1.3em;
    }

    .ticketsSection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        row-gap: 1.5em;
        width: 95vw;
        align-self: center;
    }
}