.adminPanelStyle{
    min-height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminPanelStyle .topSection {
    margin-top: 2em;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.adminPanelStyle .bottomSection{
    margin-top: 2em;
    align-items: center;
    row-gap: 2em;
    margin-bottom: 2em;
}

.adminOptionsSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Laptop Query */
@media screen and (min-width:1200px) {
    .adminPanelStyle{
        min-height: 79vh;
    }

    .adminOptionsSections {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        row-gap: 1.5em;
        width: 95vw;
        align-self: center;
    }
}