.adminPanelStyle{
    min-height: 67vh;
    display: flex;
    flex-direction: column;
}

.adminPanelStyle .topSection {
    margin-top: 2em;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.adminPanelStyle .bottomSection{
    margin-top: 2em;
    align-items: center;
    row-gap: 2em;
    margin-bottom: 2em;
}

/* Laptop Query */
@media screen and (min-width:1200px) {
    .adminPanelStyle{
        min-height: 79vh;
    }

    .adminPanelStyle .bottomSection{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}