* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0000ff;
  --lightblue: #9ed2ec;
  --darkblue: #00008b;
  --yellow: #fff000;
  --green: #00ff00;
  --red: #ff0000;
  --lightred: #f38888;
}

/* Generic page style */
.pageStyle {
  min-height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewTitle {
  font-size: 1.7em;
  letter-spacing: .2em;
  text-align: center;
  margin-bottom: 1em;
  width: 11em;
}

/* Forms */
.formStyle {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dataForm {
  display: flex;
  justify-content: space-between;
}

.textForm {
  font-weight: bold;
  align-self: center;
  width: 6em;
}

.link {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: var(--darkblue);
}

/* Laptop Query */
@media screen and (min-width:1200px) {
  .pageStyle {
    min-height: 78vh;
  }

  .viewTitle {
    width: 14em;
  }

  /* Forms */
  .formStyle {
    box-shadow: .375em .375em .375em -.313em,
      -.375em -.375em .375em -.313em;

    row-gap: 2em;
    padding: 4em 2em;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .askAccount,
  .textForm {
    font-size: 1.2em;
  }
}